body{
	background-image: url("wallpaper3.png");
	background-size: cover;
	text-align: center;
}

h1{
	margin: 0px auto 20px auto;
	width:50%;
	font-size: 300%;
}

h2 {
	padding: 0px;
	margin: 10px auto 10px auto;
	border: none;
	text-align: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	font: normal 50px/1 "Aladin", Helvetica, sans-serif;
	color: rgba(48,48,48,1);
	text-align: left;
	text-transform: normal;
	-o-text-overflow: clip;
	text-overflow: clip;
	white-space: pre;
	text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
}

x-sign {
	font-size: 700%;
	--interval: 1s;
	display: block;
	text-shadow: 
	0 0 10px var(--color1),
	0 0 20px var(--color2),
	0 0 40px var(--color3),
	0 0 80px var(--color4);
	will-change: filter, color;
	filter: saturate(60%);
	animation: flicker steps(100) var(--interval) 1s infinite;
}

x-sign:nth-of-type(1) {
	color: lightyellow;
	--color1: yellow;
	--color2: lime;
	--color3: green;
	--color4: mediumblue;
	/*font-family: 'Kumar One Outline', cursive;*/
	font-family: 'Gruppo', cursive;
}

#navigation{
	margin: auto;
	width: 50%;
	margin: 10px auto 10px auto;
}

#main{
	margin: auto;
	width: 50%;
}

#movieSection{
	height: 190px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: left;
	align-content: left;
	background-color: rgba(255, 255, 255, 0.7);
	border: 2px solid grey;
	padding: 10px;

	overflow: hidden;
}

img{
	padding: 6px;
}

#profilePic{
	border-radius: 50%;
	width: 150px;
}

#profile{
	margin: 30px auto auto auto;
	width: 450px;
	align-content: left;
	border: 2px solid grey;
	background-color: rgba(255, 255, 255, 0.7);
}

#profileData{
	margin: auto;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	font-size: 22px;
}

#movies{
	margin: 30px auto auto auto;
	width: 50%;
}

#movieIcon{
	height: 150px;
	margin: auto 15px auto auto;
	vertical-align: top;
}

#movieData{
	margin: auto;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	border: 2px solid grey;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 5px;
}

#synopsis{
	margin: 15px auto auto auto;
	border-radius: 5px;
	border: 2px solid grey;
	background-color: rgba(255, 255, 255, 0.7);
}

button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #399e8b;
  padding: 10px 20px 10px 20px;
  border: solid #719983 2px;
  text-decoration: none;
}

button:hover {
  background: #47d98e;
  text-decoration: none;
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover{
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #47d98e;
  background-color: #47d98e;
  color: white;
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover{
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
